.scroll{
    margin-top: 150px;
    display: block;
    width: 50%;
    height: 50vh;
    overflow: auto;
    /* text-align: center; */
    margin: auto;
  width: 50%;
}
.discussion{
    /* align-content: center; */
    margin:50px;
    font-size: 20px;
    font-weight: 600;

    /* border:white solid 2px; */
    /* margin: 0; */
    
  }