.user{
    text-align: center;
    font-size: 17px;

}

.user,label{
    /* padding: 20px; */
    font-size: 15px;
}
.userLabel{
    font-weight: bold;
    font-size: 22px;

}

.profilePic{
    width:200px;
    height: auto;
    border-radius: 20%;
    border: black solid 3px;
    padding: 10px;
    margin-right: 10px;
 
}
.header-profile{
    text-decoration: none;
    font-size: 25px;
    /* margin: 40px; */
    padding: 10px;
    /* margin: 30px;
    border: white solid 2px; */
}
.hederpic{
    display: inline;
    margin-left: 10%;
    width: fit-content;
    float: left;
}