html body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  background: rgb(166,183,194);
  min-height: 100%;
  background-image: url(https://jooinn.com/images/abstract-background-290.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
